.element {
  padding: 0 0 0 20px;

  &.color_0 {color: #4E79A7;}
  &.color_1 {color: #F28E2C;}
  &.color_2 {color: #E15759;}
  &.color_3 {color: #76B7B2;}
  &.color_4 {color: #59A14F;}
  &.color_5 {color: #EDC949;}
  &.color_6 {color: #AF7AA1;}
  &.color_7 {color: #FF9DA7;}
  &.color_8 {color: #9C755F;}
  &.color_9 {color: #BAB0AB;}

}

.noone {
  display: none;
}
